
#navbarResponsive > ul {
  margin: auto;
}

#navbarResponsive > ul > li {
  margin: .5rem
}

#mri, #kyanite, #cwru {
  display: inline-block;
}

img {
  padding: .5rem;
  border-style: outset;
}

#currentWork {
  list-style: none;
}

.technologies > i, .technologies > img {
  margin: 1rem .5rem;
  vertical-align: middle;
}

.technologies > div > section {
  border-style: outset;
  border-width: .5rem
}

.technologies > div > section > img {
  border-style: none;
}

a.view {
  vertical-align: text-bottom;
}