
#navbarResponsive > ul {
  margin: auto;
}

#navbarResponsive > ul > li {
  margin: .5rem
}

#mri, #kyanite, #cwru {
  display: inline-block;
}

#currentWork {
  list-style: none;
}

.technologies > i, .technologies > img {
  margin: 1rem .5rem;
  vertical-align: middle
}

a.view {
  vertical-align: text-bottom;
}